body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-style: normal;
  background: #fff;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo .logo-studio-word-header {
  color: #2e2f42;
}

.link-nav {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.contact-details {
  font-style: normal;
}

.contact-details-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-details-link:hover,
.contact-details-link:focus {
  color: #404bbf;
}

.first-page-section {
  background-color: #2e2f42;
}

.page-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.page-button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
}

.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}

.sub-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.third-page-section {
  background-color: #f4f4fd;
}

.title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-info {
  background-color: #ffffff;
}

.page-footer {
  background-color: #2e2f42;
}

.logo-studio-word-footer {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
